@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: "Roboto Slab", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.roboto-slab-thin {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-slab-extralight {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-slab-light {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.roboto-slab-regular {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-medium {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-slab-semibold {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-slab-bold {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-slab-extrabold {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.roboto-slab-black {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.roboto-slab-thin-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.roboto-slab-extralight-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.roboto-slab-light-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.roboto-slab-regular-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.roboto-slab-medium-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.roboto-slab-semibold-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.roboto-slab-bold-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.roboto-slab-extrabold-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.roboto-slab-black-italic {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
